<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.urmindtfg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".ControladorNavigation"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.UrMindTFG.NoActionBar" />
        <activity
            android:name=".reg_usuario_"
            android:exported="false" />
        <activity
            android:name=".Inicio_"
            android:exported="false" />
        <activity
            android:name=".chat.Chat"
            android:exported="false" />
        <activity
            android:name=".Login_"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".model.FirebaseMensajeria"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icono_logo_urmind" />
    </application>

</manifest>